* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 30px;
  justify-content: center;
}
.header {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: space-between;
  width: 1110px;
  height: 100px;
  margin-left: 165px;
  background-color: #ffffff;
}
.lawliet-para {
  font-weight: 700;
  margin-left: 5px;
}
ul {
  list-style: none;
  display: flex;
  width: 447px;
  height: 47px;

  padding: 12px;
  gap: 56px;
}
ul li a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.fa-l {
  background-color: #094b72;
  color: #f9f8f9;
  font-size: small;
  padding: 10px;
  border-radius: 50%;
}

.container-1 {
  width: 1440px;
  height: 924px;
  background-color: #f9f8f9;
  display: flex;
  box-sizing: border-box;
}

.container {
  margin-top: 99px;
  margin-left: 55px;
}

.title-top {
  font-weight: 700px;
  font-size: 90px;
  line-height: 120%;
  letter-spacing: 2%;
  color: #094b72;
}
.para {
  width: 578px;
  height: 88px;

  font-weight: 500;
  font-size: 24px;
  line-height: 158%;
  letter-spacing: 0.5px;
  vertical-align: middle;
  margin-left: 5px;
}
.btn-top {
  padding: 20px;
  border-radius: 8px;
  background-color: #094b72;
  margin-left: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 8%;
  vertical-align: middle;
}

.logos {
  margin-top: 60px;

  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 4%;
  vertical-align: middle;
}

.logo {
  width: 90px;
  height: 28px;
  margin: 10px;
}

.hero-img {
  margin-bottom: 40px;
}

/* 2nd container  */
.container-2 {
  width: 1440;
  height: 786;
  background-color: #f2fcff;
  display: flex;
}
.article {
  margin-top: 174px;
  margin-left: 167px;
  /* box-sizing: border-box; */
}

.cards {
  margin-top: 174px;
  margin-left: 167px;
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-gap: 18px;
  margin-bottom: 40px;
}

.card {
  padding: 24px;
  background-color: #fcfcfc;
  border-radius: 8px;
  box-shadow: 0px 18px 58px 16px #0000000f;
}

.title-2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0.32px;
}

.para-2 {
  width: 384px;
  height: 144px;

  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.5px;
  color: #8b8c8c;
  margin-top: 30px;
}

/* container-----3 */
.container-3 {
  width: 1460px;
  height: 376px;
  background-image: url(./images/container-3/BG.png);
  text-align: center;
  color: #ffffff;
  padding: 40px;
}

.title-3 {
  font-weight: 900;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.5%;
  text-align: center;
}
.para-3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.5px;
  text-align: center;
}
.divider {
  width: 96.1px;
  border-right: 1px solid #ffffff;
  opacity: 0.4;
}

.achievement {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 60px;
}

.achievement-count {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
}
.achievement-para {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.3px;
  text-align: center;
}

/* container--4 */
.container-4 {
  width: 1440;
  height: 610;
  background-color: #f4fbff;
}
.title-4 {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.5px;
  text-align: center;
  padding: 30px;
}

.clients-testimonial {
  display: flex;
  gap: 30px;
  margin-left: 150px;
  margin-top: 10px;
}
.testimonial-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
.testimonial-para {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-align: center;
}
.client-article {
  width: 540px;
  height: 231.997px;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px 0px #29292a12;
  padding: 40px;
  margin-bottom: 15px;
}
.client-identity {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-bottom: 40px;
}

.client-id {
  margin-top: 10px;
  margin-left: 10px;
}
.client-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  color: #151617;
}

/* container---5 */
.container-5 {
  width: 1440px;
  height: 374px;
  background-color: #ffffff;
  margin-left: 159px;
  display: flex;
}
.title-5 {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.5px;
  padding: 20px;
}
.para-5 {
  width: 821px;
  height: 129px;

  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.5px;
}
.btn {
  font-weight: 600;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.5px;
  color: #f9f8f9;
  padding: 15px;
  background-color: #0f6e8c;
  border-radius: 8px;
  text-decoration: none;
}
.fa-phone {
  margin-right: 10px;
}
.img-5 {
  margin-left: 60px;
  border-bottom-left-radius: 25px;
}

/* container---6 */
.container-6 {
  width: 1440;
  height: 502;
  background-color: #0f6e8c;
  display: flex;
  justify-content: space-between;
}

#fa-l {
  color: #094b72;
  font-size: small;
  padding: 15px;
  border-radius: 50%;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  line-height: 12px;
  letter-spacing: 0px;
  margin-right: 10px;
}

.lawliet-para-5 {
  font-weight: 700;
  font-size: 22px;
  line-height: 23px;
  letter-spacing: 1.5px;
  color: #ffffff;
}

.logo-bottom {
  width: 159px;
  height: 54px;

  margin-top: 40px;
  margin-left: 165px;
}
.bottom-menu {
  margin-top: 60px;
  display: flex;
  gap: 100px;
  margin-right: 350px;
  margin-bottom: 40px;
  color: #ffffff;
}
.menu {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
}
.menu-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
}

/* footer---- */
footer {
  width: 1460px;
  height: 69.37px;
  background-color: #05546d;
  display: flex;
  justify-content: space-between;
}

.footer-para {
  margin-left: 165px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  padding: 20px 0;
  color: #ffffff;
}

.social-icons {
  padding: 20px 0;
  margin-right: 100px;
}

.social-icons img {
  margin-left: 20px;
}
